@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    85%{
        opacity: 1;
        transform: translateX(4rem);
    }
    100%{
        transform: translateX(0);
    }
    
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(30rem);
    }

    85%{
        opacity: 1;
        transform: translateX(-4rem);
    }
    100%{
        transform: translateX(0);
    }
    
}
@keyframes moveInBot {
    0%{
        opacity: 0;
        transform: translateY(15rem);
    }
    85%{
        opacity: 1;
        transform: translateY(-2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes RotRight {
    0%{
        text-shadow: .5rem 1rem 2rem rgba($color-black,0);
    }
    25%{
        transform:skewY(3deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.4);
    }
    50%{
        text-shadow: .5rem 1rem 2rem rgba($color-black,0);
    }
    75%{
        transform:skewY(-3deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.4);

     
    }
    100%{
        transform:skewY(0deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black,0);
    }
    
}



@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}
