
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}


.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin: 6rem;
    
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1.5s;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.9rem;
        animation-name: moveInRight;
        animation-duration: 1.5s;
    }
}